<html>
    <head>
        <title>EXPENSE TRACKER</title>
    </head>
    <body>
        <center>
        <form action="http://127.0.0.1:5000/eback">
            <input type="submit" value="BACK"></input>
        </form>
        <h2>Monthly Expense Tracker</h2>
        <h3>Enter your monthly spending for each category below.</h3>
        <form method="POST" action="http://127.0.0.1:5000/expense">
            <label for="income">MONTHLY SALARY</label>
            <input name="income" id="income" type="text" placeholder="enter monthly salary" class="textbox"/><br><br>
        </center>
            <table align="center" border=1>
            <tr>
                <td><b>MONTHLY EXPENSES</b></td>
                <td><b>LOCAL BENCHMARK</b></td>
                <td><b>YOUR EXPENSE</b></td>
            </tr>
            <tr>
                <td><b>CHILD CARE</b></td>
                <td><input type="text" name="cb",placeholder="0"></td>
                <td><input type="text" name="ce",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>MEDICAL</b></td>
                <td><input type="text" name="mb",placeholder="0"></td>
                <td><input type="text" name="me",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>HOUSING</b></td>
                <td><input type="text" name="hb",placeholder="0"></td>
                <td><input type="text" name="he",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>FOOD</b></td>
                <td><input type="text" name="fb",placeholder="0"></td>
                <td><input type="text" name="fe",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>TRANSPORT</b></td>
                <td><input type="text" name="tb",placeholder="0"></td>
                <td><input type="text" name="te",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>EDUCATION</b></td>
                <td><input type="text" name="eb",placeholder="0"></td>
                <td><input type="text" name="ee",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>TAX PAYABLE</b></td>
                <td><input type="text" name="tab",placeholder="0"></td>
                <td><input type="text" name="tae",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>EMI</b></td>
                <td><input type="text" name="emb",placeholder="0"></td>
                <td><input type="text" name="eme",placeholder="0"></td>
            </tr>
            <tr>
                <td><b>OTHERS</b></td>
                <td><input type="text" name="ob",placeholder="0"></td>
                <td><input type="text" name="oe",placeholder="0"></td>
            </tr>
        </table>
        <br>
        <br>
        <center>
        <input type="submit" value="calculate"><br>
        </center>
        <br>
        <br>
    </body>
</html>