<html>
    <head>
        <title>LOGIN</title>
    </head>
    <body>
        <h1 align="center">LOGIN FORM</h1>
        <center>
        <form method="POST" action="http://127.0.0.1:5000/login">
            <div class="msg">{{ msg }}</div>
            <label for="username">USER ID</label>
            <input name="username" id="username" type="text" placeholder="enter userid" class="textbox"/><br><br>
            <label for="password">PASSWORD</label>
            <input name="password" id="password" type="password" placeholder="enter password" class="textbox"/><br><br>
            <input type = "submit" value="login">
            </form>
            <form action="http://127.0.0.1:5000/rforgot">
                <input type = "submit" value="forgot password">
            </form>
    
        </center>
    </body>
</html>