<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <center>
        <form action="http://127.0.0.1:5000/profile">
            <input type = "submit" value="view profile">
        </form>
        <form action="http://127.0.0.1:5000/logout">
            <input type = "submit" value="Logout">
        </form>
        <form action="http://127.0.0.1:5000/rexpense">
            <input type = "submit" value="EXPENSE TRACKER">
        </form>
        <form action="http://127.0.0.1:5000/rsavings">
            <input type = "submit" value="SAVINGS PLAN">
        </form>
        
        </center>
    </body>
</html>