<html>
    <head>
        <title>EXPENSE TRACKER</title>
    </head>
    <body>
        <center>
        <h2>Monthly Expense Tracker</h2>
        </center>
            <table align="center" border=1>
            <tr>
                <td><b>MONTHLY EXPENSES</b></td>
                <td><b>LOCAL BENCHMARK</b></td>
                <td><b>YOUR EXPENSE</b></td>
                <td><b>DIFFERENCE</b></td>
            </tr>
            <tr>
                <td><b>CHILD CARE</b></td>
                <td>{{ben[0]}}</td>
                <td>{{exp[0]}}</td>
                <td>{{diff[0]}}</td>
            </tr>
            <tr>
                <td><b>MEDICAL</b></td>
                <td>{{ben[1]}}</td>
                <td>{{exp[1]}}</td>
                <td>{{diff[1]}}</td>
            </tr>
            <tr>
                <td><b>HOUSING</b></td>
                <td>{{ben[2]}}</td>
                <td>{{exp[2]}}</td>
                <td>{{diff[2]}}</td>
            </tr>
            <tr>
                <td><b>FOOD</b></td>
                <td>{{ben[3]}}</td>
                <td>{{exp[3]}}</td>
                <td>{{diff[3]}}</td>
            </tr>
            <tr>
                <td><b>TRANSPORT</b></td>
                <td>{{ben[4]}}</td>
                <td>{{exp[4]}}</td>
                <td>{{diff[4]}}</td>
            </tr>
            <tr>
                <td><b>EDUCATION</b></td>
                <td>{{ben[5]}}</td>
                <td>{{exp[5]}}</td>
                <td>{{diff[5]}}</td>
            </tr>
            <tr>
                <td><b>TAX PAYABLE</b></td>
                <td>{{ben[6]}}</td>
                <td>{{exp[6]}}</td>
                <td>{{diff[6]}}</td>
            </tr>
            <tr>
                <td><b>EMI</b></td>
                <td>{{ben[7]}}</td>
                <td>{{exp[7]}}</td>
                <td>{{diff[7]}}</td>
            </tr>
            <tr>
                <td><b>OTHERS</b></td>
                <td>{{ben[8]}}</td>
                <td>{{exp[8]}}</td>
                <td>{{diff[8]}}</td>
            </tr>
        </table>
        <br>
        <br>
        <table align="center" border=1>
            <tr>
                <td><b>SAVINGS AMOUNT</b></td>
                <td><b>{{diff[9]}}</b></td>
            </tr>
            <tr>
                <td><b>SAVINGS PERCENTAGE</b></td>
                <td>{{diff[10]}}%</td>
            </tr>
        </table>
        <br>
        <br>
    </body>
</html>