<html>
    <head>
        <title>
            fixed deposit returns
        </title>
    </head>
    <body>
        <center>
            <h1>FIXED DEPOSIT RETURN</h1><br><br>
            <p><b>{{msg}}</b></p>
            <table border=1>
                <tr>
                    <td><b>YEAR</b></td>
                    <td><b>INDIAN BANK</b></td>
                    <td><b>SBI BANK</b></td>
                    <td><b>HDFC BANK</b></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>{{ind[0]}}</td>
                    <td>{{sbi[0]}}</td>
                    <td>{{hdfc[0]}}</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>{{ind[1]}}</td>
                    <td>{{sbi[1]}}</td>
                    <td>{{hdfc[1]}}</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>{{ind[2]}}</td>
                    <td>{{sbi[2]}}</td>
                    <td>{{hdfc[2]}}</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>{{ind[3]}}</td>
                    <td>{{sbi[3]}}</td>
                    <td>{{hdfc[3]}}</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>{{ind[4]}}</td>
                    <td>{{sbi[4]}}</td>
                    <td>{{hdfc[4]}}</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>{{ind[5]}}</td>
                    <td>{{sbi[5]}}</td>
                    <td>{{hdfc[5]}}</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>{{ind[6]}}</td>
                    <td>{{sbi[6]}}</td>
                    <td>{{hdfc[6]}}</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>{{ind[7]}}</td>
                    <td>{{sbi[7]}}</td>
                    <td>{{hdfc[7]}}</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>{{ind[8]}}</td>
                    <td>{{sbi[8]}}</td>
                    <td>{{hdfc[8]}}</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>{{ind[9]}}</td>
                    <td>{{sbi[9]}}</td>
                    <td>{{hdfc[9]}}</td>
                </tr>
            </table>
        </center>
    </body>
</html>