<html>
    <head>
        <title>
            ppf return
        </title>
    </head>
    <body>
        <center>
            <h1>PUBLIC PROVIDENT FUND RETURN</h1><br><br>
            <p><b>{{msg}}</b></p>
            <table border=1>
                <tr>
                    <td><b>MATURITY PERIOD</b></td>
                    <td><b>AMOUNT</b></td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>{{com[0]}}</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>{{com[1]}}</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>{{com[2]}}</td>
                </tr>
            </table>
        </center>
    </body>
</html>