<html>
    <head>
        <title>Savings Plan</title>
    </head>
    <body>
        <center>
            <form action="http://127.0.0.1:5000/sback">
                <input type="submit" value="BACK"></input>
            </form>
            <form action="http://127.0.0.1:5000/rfd">
                <input type = "submit" value="FIXED DEPOSIT">
            </form>
            <form action="http://127.0.0.1:5000/rrd">
                <input type = "submit" value="RECURRING DEPOSIT">
            </form>
            <form action="http://127.0.0.1:5000/rppf">
                <input type = "submit" value="PUBLIC PROVIDENT FUND">
            </form>
        </center>
    </body>
</html>